<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- Chargement modules CXF à partir du jar cxf.jar . Permet chargement rapide du runtime CXF et service lecteur WSDL..-->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<!-- Définition du Endpoint JAX-WS. Le développeur Java n'aura pas besoin d'écrire une classe pour publier le WS-->
	<jaxws:endpoint id="userServiceSm"
		implementor="fr.norsys.formation.ws.sm.wsImplementation.UserServiceSmImpl"
		address="/userServiceSm">
	</jaxws:endpoint>
</beans>
