<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 				http://www.springframework.org/schema/beans/spring-beans.xsd
       				http://www.springframework.org/schema/context
                           	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="fr.norsys.formation.ws"/>
	<bean id="userServiceSq"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="portTypeName" value="userServiceSq" />
		<property name="locationUri"
			value="http://localhost:8080/wsProjetSpring/UserServiceSq" />
		<property name="targetNamespace"
			value="http://www.norsys.fr/formation/ws/sq/schema/beans" />
		<property name="schema">
			<bean class="org.springframework.xml.xsd.SimpleXsdSchema">
				<property name="xsd" value="classpath:/UserContract.xsd" />
			</bean>
		</property>
	</bean>
	<bean
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
		<description>An endpoint mapping strategy that looks for @Endpoint and
			@PayloadRoot annotations.
		</description>
	</bean>
	<bean
		class="org.springframework.ws.server.endpoint.adapter.GenericMarshallingMethodEndpointAdapter">
		<description>Enables the MessageDispatchServlet to invoke methods
			requiring OXM marshalling.
		</description>
		<constructor-arg name="marshaller" ref="marshaller" />
		<constructor-arg name="unmarshaller" ref="marshaller" />
	</bean>
	<bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>fr.norsys.formation.ws.sq.schema.beans.GetUsersByNameRequest
				</value>
				<value>fr.norsys.formation.ws.sq.schema.beans.GetUsersByNameResponse
				</value>
				<value>fr.norsys.formation.ws.sq.schema.beans.SayHelloRequest
				</value>
				<value>fr.norsys.formation.ws.sq.schema.beans.SayHelloResponse
				</value>
			</list>
		</property>
	</bean>

</beans>